@mixin card {
  $size: 193px;
  object-fit: cover;
  height: $size;
  width: $size;
  border-radius: $border-radius;
}

.main-container {
  margin: 41px auto 0 auto;
  max-width: 700px;
  padding: 72px 48px;
  background-color: white;
  border-radius: $border-radius;
}

.options-hours {
  text-align: center;
  color: white;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex-center();

    span {
      text-transform: uppercase;
    }
  }

  .options {
    display: flex;
    max-height: $option-height;

    &-title {
      font-size: 26px;
      font-family: $font-header;
      font-weight: $font-semibold;
      text-transform: uppercase;
    }

    img {
      border-radius: $border-radius;
      @include fluid-img();
    }

    span {
      position: absolute;
    }

    &-card:first-of-type {
      margin-right: 5px;
    }

    &-card {
      text-decoration: none;
      position: relative;
      color: white;
    }
  }

  .opening-hours {
    margin-top: 6px;
    height: $option-height;
    background-color: $color-main;
    border-radius: $border-radius;
    position: relative;
    @include flex-center();

    h2,
    h3 {
      margin: 0;
    }

    h3 {
      font-weight: $font-light;
      font-size: 14px;
    }
  }
}
//CAROUSEL
.carousel {
  display: flex;
  max-height: $option-height;
  margin-top: 103px;
  max-height: 200px;
  margin-bottom: 120px;

  img {
    @include card();
    margin-right: 40px;
  }

  .text {
    flex: 1 0 0;
    padding-top: 6px;
    font-weight: $font-normal;
    // FIXME: font-weight is not working
    h2 {
      font-weight: $font-semibold;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 0px;
    }

    .author {
      font-style: italic;
      margin-top: 23px;
    }
  }
}
//PHOTOS
.photos {
  display: flex;
  flex-wrap: wrap;

  .photo {
    margin: 3px 0;
    position: relative;
  }

  .photo:nth-child(2) {
    margin: 3px 12px;
  }

  img {
    @include card();
  }

  .photo-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    .fas {
      font-size: 22px;
      color: white;
    }

    .fas:hover {
      color: $color-main;
    }

    .fa-heart {
      margin-right: 14px;
    }
  }

  .photo:hover {
    img {
      filter: brightness(0.5);
    }

    .photo-overlay {
      display: flex;
      @include flex-center();
    }
  }

  p a {
    color: $color-main;
  }
}
